---
layout: default
---
<div class="home">
  <!-- Mission -->
  <div class="home-section light-background">
    <h1 class="section-heading">You. We. Us.</h1>
  </div>
  <!-- /Mission -->
  <!-- Upcoming -->
  <div class="home-section dark-background">
    <div class="home-section-inner">
      <h1 class="section-heading">Upcoming workshops</h1>
      <div class="container-fluid">
        {% assign  upcoming_workshops = (site.upcoming | sort: 'date') %}
        {% for upcoming_workshop in upcoming_workshops %}
          {% if modulo == '0' or forloop.first %}
            <div class="row">
            {% endif %}
            <div class="col-md-6">
              <div class="workshop-type-card">
                <div class="feature">
                  <a class="post-link" href="{{ upcoming_workshop.url | prepend: site.baseurl }}"></a>
                  {% assign  workshop_type = ((site.data.workshop_types | where:"type", upcoming_workshop.type) | first) %}
                  {% assign image_url = (workshop_type.default_image) %}
                  <img src="{{ image_url | prepend: site.baseurl }}">
                  <div>
                    <div class="title">
                      {{ workshop_type.title }}
                    </div>
                    <div class="description">
                      {{ upcoming_workshop.location }},
                      {% if upcoming_workshop.date != null %}
                      {{ upcoming_workshop.date | date_to_long_string  }}
                      {% else %}
                      date to be announced
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% if modulo == '1' or forloop.last %}
              </div> <!-- /Row -->
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- /Upcoming -->
    <!-- Previous -->
    <div class="home-section light-background">
      <div class="home-section-inner">
        <h1 class="section-heading">Past workshops</h1>
        <div class="container-fluid">
          {% assign past_workshops = (site.past | sort: 'date') %}
          {% for past_workshop in past_workshops reversed %}
          {% capture modulo %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
          {% if modulo == '0' or forloop.first %}
            <div class="row">
            {% endif %}
            <div class="col-md-6">
              <div class="workshop-type-card">
                <div class="feature">
                  <a class="post-link" href="{{ past_workshop.url | prepend: site.baseurl }}"></a>
                  {% assign workshop_type = ((site.data.workshop_types | where:"type", past_workshop.type) | first) %}
                  {% assign image_url = (past_workshop.thumbnail_path) %}
                  <img src="{{ image_url | prepend: site.baseurl }}">
                  <div>
                    <div class="title">
                      {{ workshop_type.title }}
                    </div>
                    <div class="description">
                      {{ past_workshop.location }}, {{ past_workshop.date | date_to_long_string }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% if modulo == '1' or forloop.last %}
              </div> <!-- /Row -->
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- /Previous -->
    <!-- Team -->
    <div class="home-section dark-background">
      <div class="home-section-inner">
        <h1 class="section-heading">The Team</h1>
        <div class="container-fluid">
          {% for member in site.data.team %}
          {% capture modulo %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
          {% if modulo == '0' or forloop.first %}
            <div class="row">
            {% endif %}
            <div class="col-md-6 team_person">
              <div class="team_member_card">
                <img class="img-circle" src="{{ member.image  | prepend: site.baseurl }}">
                <div class="team_member_name">{{ member.name }}</div>
                <a href="https://www.github.com/{{ member.github }}">
                  <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="https://www.twitter.com/{{ member.twitter }}">
                  <i class="fa fa-twitter fa-2x"></i>
                </a>
              </div>
            </div>
            {% if modulo == '1' or forloop.last %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <!--  /Team -->
</div>
