---
layout: default
---
<div class="home">
  <!-- Mission -->
  <div class="home-section light-background">
    <h1 class="page-heading">Mission</h1>
  </div>
  <!-- /Mission -->
  <!-- Upcoming -->
  <div class="home-section dark-background">
    <h1 class="page-heading">Upcoming workshops</h1>
    <div class="container-fluid">
      {% assign  upcoming_workshops = (site.upcoming | sort: 'date') %}
      {% for upcoming_workshop in upcoming_workshops %}
        {% if modulo == '0' or forloop.first %}
          <div class="row">
          {% endif %}
          <div class="col-md-6">
            {% assign  workshop_type = ((site.data.workshop_types | where:"type", upcoming_workshop.type) | first) %}
            {{ workshop_type.title }}
            </br>
            {{ upcoming_workshop.location }}
            {% if upcoming_workshop.date %}
              </br>
              {{ upcoming_workshop.date | date_to_long_string }}
            {% endif %}
            </br>
            <a class="post-link" href="{{ upcoming_workshop.url | prepend: site.baseurl }}">More info >></a>
          </div>
          {% if modulo == '1' or forloop.last %}
            </div> <!-- /Row -->
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <!-- /Upcoming -->
    <!-- Previous -->
    <div class="home-section light-background">
      <h3>Previous workshops</h1>
      <div class="container-fluid">
        {% assign  past_workshops = (site.past | sort: 'date') %}
        {% for past_workshop in past_workshops reversed %}
        {% capture modulo %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
        {% if modulo == '0' or forloop.first %}
          <div class="row">
          {% endif %}
          <div class="col-md-6">
            {% assign  workshop_type = ((site.data.workshop_types | where:"type", past_workshop.type) | first) %}
            {{ workshop_type.title }}
            </br>
            {{ past_workshop.location }}
            </br>
            {{ past_workshop.date | date_to_long_string }}
            </br>
            <a class="post-link" href="{{ past_workshop.url | prepend: site.baseurl }}">More info >></a>
          </div>
          {% if modulo == '1' or forloop.last %}
            </div> <!-- /Row -->
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <!-- /Previous -->
    <!-- Team -->
    <div class="home-section dark-background">
      <h1 class="page-heading">Our amazing team</h1>
      <div class="container-fluid">
        {% for member in site.data.team %}
        {% capture modulo %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
        {% if modulo == '0' or forloop.first %}
          <div class="row">
          {% endif %}
          <div class="col-md-6 team_person">
            <div class="team_member_card">
              <img class="img-circle" src="{{ member.image  | prepend: site.baseurl }}">
              <div class="team_member_name">{{ member.name }}</div>
              <a href="https://www.github.com/{{ member.github }}">
                <i class="fa fa-github fa-2x"></i>
              </a>
              <a href="https://www.twitter.com/{{ member.twitter }}">
                <i class="fa fa-twitter fa-2x"></i>
              </a>
            </div>
          </div>
          {% if modulo == '1' or forloop.last %}
          </div>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
<!--  /Team -->
</div>
