<footer class="site-footer">
  <div class="width-wrapper">
    <div class="row">
      <div class="col-xs-12 col-md-6 left">
        © {{ site.title }} 2015
      </div>
    <div class="col-xs-12 col-md-6 right">
      <a href="mailto:{{ site.email }}">
        <i class="fa fa-envelope-o fa-2x"></i>
      </a>
      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github fa-2x"></i>
        </a>
      {% endif %}
      {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
      {% endif %}
    </div>
  </div>
</div>
</footer>
