

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
* Navbar fix
*/

.navbar {
    background-color: transparent;
    border: 0px;
}

.navbar-brand {
    padding-left: 0px;
}

/**
* Team members
*/

.team_member_card {
    @extend .text-center;

    margin-bottom: 40px;

    > img {
        max-width: 250px;
        max-height: 250px;

        border: 5px solid #ffffff;
    }

    .name {
        margin-top: 20px;

        font-size: $title-font-size;
        font-weight:  200;
    }
    .contact {
        a, a:visited, a:hover, a:active {
            color: DarkGray;
        }
    }
}

/**
* Upcoming and past
*/

.workshop-type-card {
    margin-bottom: 20px;
    background-color: #f6f6f6;
    min-height: 350px;
    padding: 5px;

    .title {
        margin-top: 20px;
        margin-bottom: 2px;
        @extend .text-center;
        font-size: $title-font-size;
        font-weight:  200;
    }

    .description {
        @extend .text-center;
        margin-bottom: 15px;
        font-weight:  180;
        font-style: italic;
        color: #111111;
    }
}

/**
* Generic
*/

.page-heading {
    font-size: $title-font-size * 4;
    @extend .text-center;
}

.page-subheading {
    @extend .text-center;
    margin-bottom: 20px;
    font-size: $title-font-size * 2;
}

.section-heading {
    @extend .text-center;
    margin-bottom: 60px;
}

.home-section {
    padding-top: 60px;
    padding-bottom: 60px;

    min-height: 100vh;

    .centered{
        margin-top: 18vh;
        margin-bottom: 18vh;
    }
}

.home-section-inner {
    @extend .width-wrapper;
}

.width-wrapper {
    max-width: -webkit-calc(960px - (#{$spacing-unit} * 2));
    max-width:         calc(960px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(960px - (#{$spacing-unit}));
        max-width:         calc(960px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

div.feature {
    position: relative;
}

div.feature a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

.light-background {
    background-color: #ffffff;
}

.dark-background {
    background-color: #f6f6f6;
}

.hero-background {
    color: white;
    background-image:  url("/resources/background.jpg");
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
