/**
 * Site header
 */

.image-container {
    margin-bottom: 20px
}

/**
 * Site footer
 */
.site-footer {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    line-height: 28px;

    .right {
      text-align: right;
    }
}
